.btn{
	@include border-radius(5px);
	border:none;
	padding:12px 18px;
	@include box-shadow(0,0,15px,rgba(0,0,0,0.3));
	@include transition(all .3s);

	&:hover{
		@include box-shadow(0,0,30px,rgba(0,0,0,0.4));
		transform:scale(1.1,1.1);
	}
}
.btn-primary{
	background:$main_color;
	color:#FFF !important;
	&:hover{
		background:darken($main_color, 15%);
	}
}
.btn-secondary{
	background:$secondary_color;
	color:#FFF !important;
	&:hover{
		background:darken($secondary_color, 15%);
	}
}