#call-to-actions{
    .call-to-action{
        padding:120px 0;
        background:$dark;
        h1, h2, h3, h4, h5, h6{
            color:#FFF;
            @media(max-width:$screen-md){
                margin-bottom:30px;
            }
        }
        .col-md-6{
            @media(max-width:$screen-md){
                text-align:center;
            }
        }
        .col-md-6:nth-child(2){
            a{
                @media(min-width:$screen-md){
                    float:right;
                }
                &:nth-child(2){
                    @media(min-width:$screen-md){
                        margin-right:15px;
                    }
                }
                &:nth-child(1){
                    @media(max-width:$screen-md){
                        margin-right:15px;
                    }
                }
            }
        }
    }
}