#content-blocks{
	.content-block:nth-child(even){
		background:#EEE;
		padding:60px 0;

		.row{
			flex-direction:row-reverse;
			
		}
	}
	.content-block:nth-child(2).visible{animation-delay: .1s;}
	.content-block:nth-child(3).visible{animation-delay: .2s;}
}
.content-block{
	width:100%;
	margin-bottom:60px;
	opacity:0;
	@include transition(all .3s);

	&.visible{
		animation:FadeIn .3s linear;
		opacity:1;
	}
	h2{
		span{
			font-weight:bold;
		}
	}

	img{
		@include box-shadow(0,0,40px,rgba(0,0,0,0.2));
		margin-bottom:25px;
	}
}