#featured-blocks{
    padding:$spacer;
}
.featured-block{
    @include transition(all .3s);
    padding:35px 35px 20px 35px;

    &:hover{
        transform:translateY(-30px);
        @include box-shadow(0,0,30px,rgba(0,0,0,0.3));
    }
    .icon{
        position:relative;
        margin:0 auto 30px auto;
        text-align:center;
        @include border-radius(100px);
        width:75px;
        height:75px;
        padding-top:28px;
        font-size:21px;
        color:$main_color;
        @include box-shadow(0,0,30px,rgba(0,0,0,0.3));
    }
    a{
        text-align:center;
        color:$font_color;
        &:hover{
            text-decoration:none;
        }
        h5{
            margin-bottom:24px;
        }
    }
}