#hero{
    .carousel-caption{
       
        @media(min-width:$screen-md){
            padding:0 15%;
            top:40%;
        }
        @media(max-width:$screen-md){
            top:30%;
        }
        h3{
            color:#FFF;
            font-size:24px;
            @media(min-width:$screen-md){
                font-size:48px;
            }
        }
    }
    .d-none{
        display:block !important;
    }
    p{
        @media(max-width:$screen-md){
            display:none;
        }
    }
}